
# Add any directories, files, or patterns you don't want to be tracked by version control# dependencies
node_modules

# env
.env

#log files
.log

#package lock
package-lock.json

# IDE - VSCode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json